{% extends 'base.html.twig' %}

{% block title %}New Figurine{% endblock %}

{% block body %}
    <h1>Create new Figurine</h1>

    {{ include('figurine/_form.html.twig') }}

    <a href="{{ path('app_figurine_index') }}">back to list</a>
{% endblock %}
